<% if user_signed_in? %>
	<% if review.liked_by?(current_user) %>
		<%= link_to review_likes_path(review), method: :delete, remote: true do %>
			<i class="far fa-grin-beam liked"><span class="like-text"><%= review.likes.count %> 役に立った</span></i>
		<% end %>
	<% else %>
		<%= link_to review_likes_path(review), method: :post, remote: true do %>
			<i class="far fa-smile-beam not-liked"><span class="like-text"><%= review.likes.count %> 役に立った</span></i>
		<% end %>
	<% end %>
<% else %>
		<i class="far fa-smile-beam not-liked"></i>
		<%= review.likes.count %> 役に立った
<% end %>
