<div class="container bottom-space">
	<div class="row">
		<%= form_for @user do |f| %>
			<div class="user-form">
				<%= link_to user_path(@user) do %>
					<p><i class="fas fa-chevron-left"></i> 保存せずに戻る</p>
				<% end %>
				<% if @user.errors.any? %>
					<div class="alert">
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="form">
					<%=f.label :profile_photo, 'プロフィール画像を追加する' %>
					<div class="preview preview-profile-photo"></div>
					<%= f.attachment_field :profile_photo, class:"file" %>
				</div>
				<table>
					<tbody>
						<tr>
							<td><%= f.label :name, 'ユーザーネーム' %></td>
							<td><%= f.text_field :name, class:"user-input-field form-control" %></td>
						</tr>
						<tr>
							<td><%= f.label :introduction, '自己紹介' %></td>
							<td><%= f.text_area :introduction, class:"form-control", rows: "7", class:"user-input-field form-control" %></td>
						</tr>
						<tr>
							<td><%= f.label :email, "メールアドレス" %></td>
							<td><%= f.email_field :email, class:"user-input-field form-control" %></td>
						</tr>
						<tr>
							<td></td>
							<td class="user-form-submit">
								<div>
									<%= f.submit "変更を保存する", class:"btn btn-sm btn-blue" %>
								</div>
								<div>
									<%= link_to '退会手続きに進む', users_leave_path(@user), class:"btn btn-sm btn-red" %>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>
</div>
