<%= render 'homes/header' %>

<div class="container">
	<div class="row">
		<h3 align="center"><strong>ブックマークした商品</strong></h3>
		<div class="row my-bookmarks">
			<% @bookmarks.each_with_index do |bookmark,i| %>
				<% if @bookmarked_items[i].first.present? %>
					<div class="col-xs-3">
						<table class="table-borderless" id="bookmarked-items-table">
							<tbody>
								<tr>
									<td>
										<div class="flex">
											<div><%= image_tag @bookmarked_items[i].first["mediumImageUrls"][0] %></div>
											<div align="center"><span id="bookmark_<%= bookmark.item.id %>">
											<%= render 'bookmarks/bookmark', saved_item: bookmark.item %></span></div>
										</div>
									</td>
								</tr>
								<tr>
									<td><%= bookmark.item.name %>
									</td>
								</tr>
								<tr>
									<td class="item-price">価格: <%= number_with_delimiter(@bookmarked_items[i].first["itemPrice"]) %>円</td>
								</tr>
								<tr>
									<td>
										<%= link_to 'レビューを見る', save_item_path(@bookmarked_items[i].first["itemCode"]), class:"btn half-review_btn" %>
										<%= link_to '楽天で購入', "#{@bookmarked_items[i].first.url}", class:"btn half-rakuten_btn" %>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<% end %>
			<% end %>
		</div>
		<div align="center">
			<%= paginate @bookmarks %>
		</div>
	</div>
</div>
 
 <style>
	.search_for_purchase {
		display: block;
	}
	th, td {
		padding-bottom: 20px;
		width: 80%;
		word-break: break-all;
	}
	h4 {
		padding-left: 50px;
	}
	.flex {
		display: flex;
		justify-content: space-between;
	}
</style>
