<%= render 'homes/header' %>

<div class="container">
	<div class="row">
		<div class="flash-notice">
			<%= flash[:notice] %>
	    </div>
	    <div class="flex-introduction">
			<%= attachment_image_tag @user, :profile_photo, format: 'jpg', fallback: "user_no_image.png", size: "60x60", class:"profile-photo" %>
			<div class="username-intro">
				<div><strong><%= @user.name %></strong></div>
				<p><%= @user.introduction %></p>
				<% if @user.id == current_user.id %>
					<%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
				<% end %>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><i class="fas fa-pen"></i> レビューを書いた数: <%= @user.reviews.count %></li>
				<li class="list-group-item"><i class="far fa-bookmark"></i> ブックマークした数: <%= @user.bookmarks.count %></li>
				<li class="list-group-item"><i class="far fa-grin-beam"></i> いいねをした数: <%= @user.likes.count %></li>
			</ul>
		</div>
	</div>
</div>

<!-- ブックマークした商品 -->
<div class="container">
	<%= link_to users_my_bookmarks_path(@user) do %>
		<button class="btn2"><i class="far fa-bookmark"></i> ブックマークした商品一覧</button>
	<% end %>
</div>
<div class="my-bookmarks">
	<div class="flex-item-tables">
		<% @bookmarks.each_with_index do |bookmark,i| %>
			<% if @bookmarked_items[i].first.present? %>
				<table class="table-borderless item-table">
					<tbody>
						<tr>
							<td><%= image_tag @bookmarked_items[i].first["mediumImageUrls"][0] %>
								<span class="flex-action" id="bookmark_<%= bookmark.item.id %>">
									<%= render 'bookmarks/bookmark', saved_item: bookmark.item %></span>
							</td>
						</tr>
						<tr>
							<td><%= link_to reviews_new_path(bookmark.item.rakuten_item_id) do %>
									<%= bookmark.item.name %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td class="item-price">価格: <%= number_with_delimiter(@bookmarked_items[i].first["itemPrice"]) %>円</td>
						</tr>
						<tr>
							<td>
								<%= link_to 'レビューを見る', save_item_path(@bookmarked_items[i].first["itemCode"]), class:"btn m-review-btn" %>
								<%= link_to '楽天で購入', "#{@bookmarked_items[i].first.url}", class:"btn m-rakuten-btn" %>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
		<% end %>
	</div>
	<div align="center">
		<%= paginate @bookmarks %>
	</div>
</div>

<!-- レビューした商品 -->
<div class="container">
	<%= link_to users_my_reviews_path(@user) do %>
		<button class="btn2"><i class="fas fa-pen"></i> レビューを書いた商品一覧</button>
	<% end %>
	<div class="row" id="my-reviews">
		<% @reviews.each_with_index do |review,i| %>
			<%= render 'reviews/review_each', review: review, item: @items[i] %>
		<% end %>
		<div align="center">
			<%= paginate @reviews %>
		</div>
	</div>
</div>

<style>
	.search_for_purchase {
		display: block;
	}
</style>
