<nav class="navbar">
	<div class="navbar-left">
		<%= link_to 'FitReviews', fr_top_path, class:"FitReviews-logo" %>
	</div>
	<div class="navbar-right">
		<% if user_signed_in? %>
			<button id="show-nav"><i class="fas fa-bars"></i></button>
			<ul id="nav-list">
				<li id="hide-nav"><i class="fas fa-times"></i></li>
				<li class="nav-user-info">
					<%= attachment_image_tag current_user, :profile_photo, size: "50x50", class:"profile-photo" %>
					<p>ようこそ、<%= current_user.name %>さん</p></li>
				<li><%= link_to 'ランキング', items_ranking_path, class:"btn btn-sm nav-ranking-btn" %></li>
				<li><%= link_to 'レビューを書く', reviews_search_path, class:"btn btn-sm nav-btn" %></li>
				<li><%= link_to 'マイページ', user_path(current_user), class:"btn btn-sm nav-btn" %></li>
				<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn btn-sm nav-btn" %></li>
			</ul>
		<% else%>
			<button id="show-nav"><i class="fas fa-bars"></i></button>
			<ul id="nav-list">
				<li id="hide-nav"><i class="fas fa-times"></i></li>
				<li></li>
				<li><%= link_to 'ランキング', items_ranking_path, class:"btn btn-sm nav-ranking-btn" %></li>
				<li><%= link_to 'レビューを書く', reviews_search_path, class:"btn btn-sm nav-btn" %></li>
				<li><%= link_to 'ログイン', new_user_session_path, class:"btn btn-sm nav-btn" %></li>
				<li><%= link_to 'サインアップ', new_user_registration_path, class:"btn btn-sm nav-btn" %></li>
			</ul>
		<% end %>
	</div>
</nav>
