<div class="mv">
	<%= render 'homes/fr_header' %>
	<div class="container">
	    <div class="row">
		    <div class="flash-notice">
				<%= flash[:notice] %>
		    </div>
		</div>
	    <div class="row">
			<div class="fr-top-search-bar">
		    	<%= form_tag :items_search, method: :get do  %>
		    		<%= select_tag 'genreId', options_for_select({プロテイン: 567603, 栄養補助スナック: 566807, その他のサプリ: 563727, 筋トレ器具: 201865}, 567603), include_blank: false, class:"search-select" %>
					<%= text_field_tag 'keyword', params[:keyword], placeholder:"プロテイン、プロテインバー、シェイカー...", required: true, class:"fr-search-text-field" %>
					<%= submit_tag "検索", class:"search-submit" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<section class="top-space">
	<%= render 'items/recommended', rankings: @rankings %>
</section>

<section class="top-space">
	<%= render 'reviews/recent', reviews: @reviews %>
</section>
