<nav class="navbar devise-header">
  <div class="nav navbar-left">
    <%= link_to 'FitReviews', root_path, class:"FitReviews-logo-header" %>
  </div>
  <div class="nav navbar-right">
    <%= link_to 'まだアカウントをお持ちでない方',new_user_registration_path %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
    <div class="user-login-info">
      <div>
        <h1 class="FitReviews-logo-header">FitReviews</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table-borderless login-table">
            <tbody>
              <tr>
                <td class="login-field"><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム", class:"form-control" %></td>
              </tr>
              <tr>
                <td class="login-field"><%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"form-control" %>
                  <% if devise_mapping.rememberable? %>
                    <div>
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me, "パスワードを保存する" %>
                    </div>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="login-field">
                  <%= f.submit "ログイン", class:"btn btn-primary submit1" %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <%= render "devise/shared/links" %> -->
