<h4 class="title">キーワードで探す</h4>
<div class="keywords">
	<ul class="keyword-list">
		<li><%= link_to 'ホエイプロテイン', items_search_path(keyword: 'ホエイプロテイン', genreId: 567603) %></li>
		<li><%= link_to 'ソイプロテイン', items_search_path(keyword: 'ソイプロテイン', genreId: 567603) %></li>
		<li><%= link_to 'カゼインプロテイン', items_search_path(keyword: 'カゼインプロテイン', genreId: 567603) %></li>
		<li><%= link_to 'ウェイトゲイナー', items_search_path(keyword: 'ウェイトゲイナー', genreId: 567603) %></li>
		<li><%= link_to 'プロテインバー', items_search_path(keyword: 'プロテインバー', genreId: 566807) %></li>
		<li><%= link_to 'プロテインクッキー', items_search_path(keyword: 'プロテインクッキー', genreId: 566807) %></li>
		<li><%= link_to 'ナッツバー', items_search_path(keyword: 'ナッツバー', genreId: 566807) %></li>
		<li><%= link_to 'マルチビタミン',items_search_path(keyword: 'マルチビタミン', genreId: 563727) %></li>
		<li><%= link_to 'BCAA',items_search_path(keyword: 'BCAA', genreId: 563727) %></li>
		<li><%= link_to 'クレアチン',items_search_path(keyword: 'クレアチン', genreId: 563727) %></li>
		<li><%= link_to 'プレワークアウト',items_search_path(keyword: 'プレワークアウト', genreId: 563727) %></li>
		<li><%= link_to 'リストラップ',items_search_path(keyword: 'リストラップ', genreId: 201865) %></li>
		<li><%= link_to 'パワーグリップ',items_search_path(keyword: 'パワーグリップ', genreId: 201865) %></li>
		<li><%= link_to 'ダンベル',items_search_path(keyword: 'ダンベル', genreId: 201865) %></li>
		<li><%= link_to 'アブローラー',items_search_path(keyword: 'アブローラー', genreId: 201865) %></li>
		<li><%= link_to '腹筋台',items_search_path(keyword: '腹筋台', genreId: 201865) %></li>
		<li><%= link_to 'チューブ',items_search_path(keyword: 'チューブ', genreId: 201865) %></li>
	</ul>
</div>
