<h4 class="title">総合おすすめ商品</h4>
<div class="flex-genre-link">
  <h4>ジャンル別ランキングはこちらから</h4>
  <h4><i class="fas fa-long-arrow-alt-right"></i> <%= link_to 'ジャンル別ランキング', items_ranking_path %></h4>
</div>

<div class="flex-recommended-item-tables">
  <% rankings.each do |item_id, rate, i| %>
    <% ranking = Item.find(item_id) %>
    <% item = RakutenWebService::Ichiba::Item.search(itemCode: ranking.rakuten_item_id) %>
    <!-- 楽天の商品は無くなることがあるため、なくなった商品は表示しない -->
    <% if item.first.present? %>
      <div class="recommended-item-table-layout">
        <table class="table-borderless recommended-item-table">
          <tbody>
            <tr>
              <td>
                <span class="overall-rec">総合オススメ</span>
                <% if ranking.rakuten_genre_id == 567603 %>
                  <span class="genre-label">プロテイン</span>
                <% elsif ranking.rakuten_genre_id == 566807 %>
                  <span class="genre-label">栄養補助スナック</span>
                <% elsif ranking.rakuten_genre_id == 563727 %>
                  <span class="genre-label">その他のサプリ</span>
                <% elsif ranking.rakuten_genre_id == 201865 %>
                  <span class="genre-label">筋トレ器具</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <span class="rate-star" id="ranking_<%= ranking.id %>"></span>
                  <script>
                    $('#ranking_<%= ranking.id %>').raty({
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: '<%= rate.to_d.to_s %>',
                    });
                  </script>
                  <%= rate.to_d.to_s %>
              </td>
            </tr>
            <tr align="center">
              <td>
                <% if item.first["mediumImageUrls"][0].present? %>
                  <%= image_tag item.first["mediumImageUrls"][0] %>
                <% else %>
                  この商品には商品画像がありません。
								<% end %>
              </td>
            </tr>
            <tr>
              <td><%= item.first["itemName"] %></td>
            </tr>
            <tr>
              <td class="item-price">価格: <%= number_with_delimiter(item.first["itemPrice"]) %>円</td>
            </tr>
            <tr>
              <td><%= link_to 'レビューを見る', save_item_path(item.first["itemCode"]), class:"btn m-review-btn" %>
                <%= link_to '楽天で購入', "#{item.first.url}", class:"btn m-rakuten-btn" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
