<%= render 'homes/header' %>
<div class="container">
	<div class="row" style="margin-top: 50px; margin-bottom: 70px;">
		<% if @items.present? %>
		<% @items.each do |item| %>
		<div class="col-xs-3">
			<!-- <div class="flex"> -->
				<table class="table-borderless">
					<tbody>
						<tr>
							<td><%= image_tag item["mediumImageUrls"][0] %></td>
						</tr>
						<tr>
							<td><%= item.name %></td>
						</tr>
						<tr>
							<td style="color: #777777; text-align: right;"><%= number_with_delimiter(item.price) %>円</td>
						</tr>
						<tr>
							<td><%= link_to '楽天で購入', "#{item.url}", class:"btn rakuten_btn" %>
								<%= link_to 'レビューを見る', save_item_path(item["itemCode"]), class:"btn review_btn" %></td>
						</tr>
					</tbody>
				</table>
			<!-- </div> -->
		</div>
		<% end %>
		<% end %>
	</div>
</div>

<style>
	.search_for_purchase {
		display: block;
	}
	.rakuten_btn {
		color: black;
		background-color: #FFFF99;
		border: 1px solid #CCCCCC;
		width: 45%;
	}
	.rakuten_btn:hover {
		background-color: #FFFF00;
	}
	.review_btn {
    	color: white;
    	border-radius: 5px;
    	background-color: #FF773E;;
    	width: 50%;
    }
    .review_btn:hover {
    	color: white;
    	background-color: #FF4F02;
    }
/*    .flex {
    	display: flex;
    }*/
    table {
    	height: 350px;
    	margin: 10px;
    	border-top: 1px solid #CCCCCC;
    }
</style>