<div class="row all-review" id="reviews-<%= review.id %>">
	<div class="col-xs-3">
		<% if item.first.present? %>
			<%= image_tag item.first["mediumImageUrls"][0], style:"height: 180px; width: 180px" %>
		<% end %>
		<h6 style="font-weight: normal;"><%= review.item.name %></h6>
	</div>
	<div class="col-xs-2">
		<%= attachment_image_tag review.user, :profile_photo, size: "60x60", style:"border-radius: 10px;" %>
		<%= review.user.name %>
	</div>
	<div class="col-xs-7">
		<table class="table-borderless" style="width: 100%; table-layout: fixed;">
			<tbody>
				<tr>
					<td id="rated_<%= review.id %>"></td>
					<link rel="stylesheet" href="/assets/jquery.raty.css">
					<script src="/assets/jquery.raty.js"></script>
					<script>
						$(function() {
						$('#rated_<%= review.id %>').raty({
							// デフォルトで、星5個に設定されている
							starOff:  '<%= asset_path('star-off.png') %>',
				            starOn : '<%= asset_path('star-on.png') %>',
				            starHalf: '<%= asset_path('star-half.png') %>',
							// halfをtrueにすることで、星半分刻みで評価できる
							half: true,
							// readOnlyにすることで、変更することができなくなる
							readOnly: true,
							score: <%= review.rate %>,
						});
						});
					</script>
				</tr>
				<tr>
					<td><%= review.body %></td>
				</tr>
				<tr>
					<td><%= attachment_image_tag review, :item_image, :fill, 330, 300 %></td>
				</tr>
				<tr>
					<td id="like_<%= review.id %>">
						<%= render 'likes/like', review: review %>
					</td>
					<td>
						<% if review.user == current_user %>
						<%= link_to '削除', review_path(review), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger", style:"float: right;" %>
						<%= link_to '編集', edit_review_path(review), class:"btn btn-success", style:"float: right; margin-right: 10px;" %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<style>
	.all-review {
		padding: 10px;
		border-bottom: 1px solid #CCCCCC;
	}
</style>
