<div class="row all-review" id="reviews-<%= review.id %>">
	<div class="col-xs-3">
		<% if item.first.present? %>
			<%= image_tag item.first["mediumImageUrls"][0] %>
		<% end %>
		<%= link_to reviews_new_path(review.item.rakuten_item_id) do %>
			<h6 style="font-weight: normal;"><%= review.item.name %></h6>
		<% end %>
	</div>
	<div class="col-xs-2">
		<%= attachment_image_tag review.user, :profile_photo, size: "60x60", style:"border-radius: 50%;" %><br>
		<i class="fas fa-user"> <span style="font-weight: normal; color: #444444;"><%= review.user.name %></span></i>
	</div>
	<div class="col-xs-7">
		<table class="table-borderless" style="width: 100%; table-layout: fixed;">
			<tbody>
				<tr>
					<td id="rated_<%= review.id %>"></td>
					<script>
						$('#rated_<%= review.id %>').raty({
							// デフォルトで、星5個に設定されている
							starOff:  '<%= asset_path('star-off.png') %>',
				            starOn : '<%= asset_path('star-on.png') %>',
				            starHalf: '<%= asset_path('star-half.png') %>',
							half: true,
							readOnly: true,
							score: <%= review.rate %>,
						});
					</script>
					<td style="width: 20%;">
						<% if review.user == current_user %>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-angle-down" style="font-size: 25px; color: #666666;"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="text-align: center;">
									<%= link_to edit_review_path(review), class:"dropdown-item btn" do %>
							  			<i class="far fa-edit" style="color: #00FF3B"> 編集</i>
							  		<% end %><br>
							  		<%= link_to review_path(review), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class:"dropdown-item btn" do %>
							  			<i class="far fa-trash-alt" style="color: red"> 削除</i>
							  		<% end %>
							  	</div>
							</div>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= review.body %></td>
				</tr>
				<tr>
					<td><%= attachment_image_tag review, :item_image, :fill, 330, 300 %></td>
				</tr>
				<tr>
					<td id="like_<%= review.id %>">
						<%= render 'likes/like', review: review %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<style>
	.all-review {
		padding: 10px;
		border-bottom: 1px solid #CCCCCC;
	}
	.dropdown-toggle {
		border-radius: 50%;
	}
	.dropdown-toggle:hover {
		border-radius: 50%;
		background-color: #DDDDDD;
		transition: 0.5s;
	}
</style>
