<%= render 'homes/header' %>

<div class="container">
	<div class="row">
		<%= form_for @review do |f| %>
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div>
					<div class="form">
						<span id="referrer"></span>
						<script>
							document.getElementById("referrer").innerHTML='<input type="hidden" value="' +document.referrer +'" name="referrer">';
						</script>
						<%= attachment_image_tag @review.user, :profile_photo, size: "60x60", class:"profile-photo" %>
						<%= @review.user.name %><br>
					</div>
					<div class="form">
						<p><strong>レビュー対象商品</strong></p>
						<% @item = RakutenWebService::Ichiba::Item.search(itemCode: @review.item.rakuten_item_id) %>
						<div>
							<% if @item.first["mediumImageUrls"][0].present? %>
								<%= image_tag @item.first["mediumImageUrls"][0] %>
							<% else %>
								この商品には商品画像がありません。
							<% end %>
						</div>
						<div>
							<%= @item.first.name.truncate(100) %>
						</div>
					</div>
					<div class="form">
						<div class="add-photo">
							<p><strong>写真を変更する</strong></p>
							<div class="preview"></div>
							<%= f.attachment_field :item_image, class:"file" %>
						</div>
					</div>
					<div class="form">
						<p><strong>総合評価</strong></p>
						<span class="form-group" id="edit_rated_star"><%= f.hidden_field :rate %></span>
						<script>
							$(function() {
							$('#edit_rated_star').raty({
								size: 100,
								starOff:  '<%= asset_path('star-off.png') %>',
							    starOn : '<%= asset_path('star-on.png') %>',
							    starHalf: '<%= asset_path('star-half.png') %>',
								// halfをtrueにすることで、星半分刻みで評価できる
								half: true,
								// Reviewモデルのrateカラムに評価の値を保存する
								scoreName: 'review[rate]',
								score: <%= @review.rate %>,
							});
							});
						</script>
					</div>
					<div class="form">
						<p><strong>ここにレビューを記入してください</strong></p>
						<%= f.text_area :body, class:"fixed-size form-control", rows: "15" %>
					</div>
					<div class="form">
						<%= f.submit "投稿", class:"btn form-submit-btn" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
