<%= render 'homes/header' %>

<section class="item">
	<div class="container">
		<% @item.each do |item| %>
			<div class="flex-parent-column">
				<div class="first-child" align="center">
					<% if item["mediumImageUrls"][0].present? %>
						<%= image_tag item["mediumImageUrls"][0], style:"height: 150px; height: 150px; position: sticky; top: 30px" %>
					<% else %>
						この商品には商品画像がありません。
					<% end %>
				</div>
				<div class="second-child">
					<div class="flex-action">
						<div id="bookmark_<%= @saved_item.id %>">
							<%= render 'bookmarks/bookmark', saved_item: @saved_item %>
						</div>
					</div>
					<h4><%= item['itemName'] %></h4>
					<span class="form-group" id="rate_for_this_item"></span>
					<script>
						$('#rate_for_this_item').raty({
							starOff:  '<%= asset_path('star-off.png') %>',
							starOn : '<%= asset_path('star-on.png') %>',
							starHalf: '<%= asset_path('star-half.png') %>',
							half: true,
							size: 36,
							readOnly: true,
							score: '<%= @average_rate %>',
						});
					</script>
					<% if @average_rate.present? %>
						<%= @average_rate.truncate(2) %><br>
					<% end %>
					<h5 class="item-price">価格: <%= number_with_delimiter(item["itemPrice"]) %>円</h5>
					<p><%= item['catchcopy'] %></p>
					<p><%= item['itemCaption'] %></p>
					<div class="flex-action">
						<div class="rakuten-info">
							<p>楽天市場情報</p>
							<p>楽天市場での平均評価: <span class="form-group" id="rakuten-rate"></span> <%= item['reviewAverage'].truncate(2) %></p>
							<p>楽天市場でのレビュー件数: (<%= item['reviewCount'] %>)</p>
							<%= link_to '楽天の購入ページへ', "#{item.url}", class:"btn rakuten-btn" %>
							<script>
								$('#rakuten-rate').raty({
									starOff:  '<%= asset_path('star-off.png') %>',
									starOn : '<%= asset_path('star-on.png') %>',
									starHalf: '<%= asset_path('star-half.png') %>',
									half: true,
									size: 36,
									readOnly: true,
									score: '<%= item['reviewAverage'] %>',
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="top-space bottom-space">
	<h4 class="title2">カスタマーレビュー (<%= @saved_item.reviews.count %>)</h4>
	<a class="btn write-a-review-btn" id="show-form"><i class="fas fa-pen"></i> この商品のレビューを書く</a>
	<section>
		<%= render 'review_form', item: @item, review: @review %>
	</section>
	<div id="review_<%= @saved_item.id %>">
		<% @reviews.each do |review| %>
			<%= render 'review_each', review: review %>
		<% end %>
	</div>
	<div align="center">
		<%= paginate @reviews %>
	</div>
</section>

<style>
	.search_for_review {
		display: block;
	}
</style>
