<%= render 'homes/header' %>

<div class="container">
	<div class="row item">
		<% @item.each do |item| %>
			<div class="flex-parent-column">
				<div class="first-child" align="center">
					<%= image_tag item["mediumImageUrls"][0], style:"height: 150px; height: 150px;" %>
				</div>
				<div class="second-child">
					<div class="flex-action">
						<div id="bookmark_<%= @saved_item.id %>">
							<%= render 'bookmarks/bookmark', saved_item: @saved_item %>
						</div>
					</div>
					<h4><%= item.name %></h4>
					<span class="form-group" id="rate_for_this_item"></span>
					<script>
						$('#rate_for_this_item').raty({
							starOff:  '<%= asset_path('star-off.png') %>',
							starOn : '<%= asset_path('star-on.png') %>',
							starHalf: '<%= asset_path('star-half.png') %>',
							half: true,
							size: 36,
							readOnly: true,
							score: '<%= @average_rate %>',
						});
					</script>
					<h5 class="item-price">価格: <%= number_with_delimiter(item["itemPrice"]) %>円</h5>
					<div class="flex-action">
						<div>
							<a class="btn write-a-review-btn" id="show-form"><i class="fas fa-pen"></i> この商品のレビューを書く</a>
						</div>
						<div class="wrap-bottom">
							<%= link_to '楽天の購入ページへ', "#{item.url}", class:"btn rakuten-btn" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<%= render 'review_form', item: @item, review: @review %>
</div>

<section class="top-space">
	<h4 class="title2">カスタマーレビュー (<%= @saved_item.reviews.count %>)</h4>
	<div id="review_<%= @saved_item.id %>">
		<% @reviews.each do |review| %>
			<%= render 'review_each', review: review %>
		<% end %>
	</div>
	<div align="center">
		<%= paginate @reviews %>
	</div>
</section>

<style>
	.search_for_review {
		display: block;
	}
</style>
