<%= render 'homes/header' %>
<div class="container">
	<div class="row">
		<%= flash[:notice] %>
		<% if @review.errors.any? %>
		<div class="alert">
			<ul>
				<% @review.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>
	<div class="row item-area">
		<% @item.each do |item | %>
			<div class="col-xs-3">
				<%= image_tag item["mediumImageUrls"][0], style:"height: 250px; width: 250px" %>
			</div>
			<div class="col-xs-8">
				<table class="table-borderless">
					<tbody>
						<tr>
							<td><h4><%= item.name %></h4></td>
						</tr>
						<tr>
							<td class="form-group row" id="rate_for_this_item"></td>
						</tr>
						<tr>
							<td><h5>価格: <%= item["itemPrice"] %>円</h5></td>
						</tr>
					</tbody>
				</table>
			<%= link_to '楽天の購入ページへ', "#{item.url}", class:"btn btn-lg rakuten_btn" %>
			</div>
			<!-- ブックマーク -->
			<!-- まだ商品がitemに保存されていない、尚且つブックマークされていたら -->
			<% if @saved_item.present? and @saved_item.bookmarked_by?(current_user) %>
				<%= link_to bookmark_path(@saved_item), method: :delete do %>
					<i class="far fa-bookmark" style="color: blue; background-color: blue;"></i>
				<% end %>
			<% else %>
				<%= link_to bookmarks_create_path(item["itemCode"]), method: :post do %>
					<i class="far fa-bookmark"></i>
				<% end %>
			<% end %>
		<% end %>
	</div>

	<!-- form_with -->
	<%= render 'review_form', item: @item, review: @review %>

	<!-- この商品のレビューを全て表示する -->
	<!-- レビューがない場合エラーになる -->
	<!-- 今回はレビューを投稿した際に初めてその商品情報を保存するので、present?をつけることでまだ商品が保存されていないものを表示してもエラーにならない -->
</div>
<% if @saved_item.present? %>
<div class="container" id="review_<%= @saved_item.id %>">
	<% @saved_item.reviews.each do |review| %>
		<%= render 'review_each', review: review %>
	<% end %>
</div>
<% end %>
<!-- 評価に必要なjavascriptとcssを読み込む -->
<link rel="stylesheet" href="/assets/jquery.raty.css">
<script src="/assets/jquery.raty.js"></script>
<script>
	// turbolinksをloadにすることで、読み込みのエラーを起きないようにする
	$(document).on('turbolinks:load', function() {
	$('#rate_for_this_item').raty({
		starType: 'i',
		// halfをtrueにすることで、星半分刻みで評価できる
		half: true,
		// readOnlyにすることで、変更することができなくなる
		readOnly: true,
	});
	$('#rate_by_star').raty({
		starOff:  '<%= asset_path('star-off.png') %>',
	    starOn : '<%= asset_path('star-on.png') %>',
	    starHalf: '<%= asset_path('star-half.png') %>',
		// halfをtrueにすることで、星半分刻みで評価できる
		half: true,
		// Reviewモデルのrateカラムに評価の値を保存する
		scoreName: 'review[rate]',
	});
	});
</script>

<style>
	.search_for_review {
		display: block;
	}
	#rate_for_this_item {
		color: #FF6928;
	}
	.item-area {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.review-field {
		border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
		padding: 30px;
	}
	.all-review {
		padding: 10px;
		border-bottom: 1px solid #CCCCCC;
	}
	td {
		padding-bottom: 15px;
		/*レビューの文字が多いと、無限に横に延びるのを防ぐため*/
		word-break: break-all;
		width: 80%;
	}
	.rakuten_btn {
		color: black;
		font-size: 15px;
		padding: 8px;
		background-color: #FFFF99;
		border: 1px solid #CCCCCC;
		float: right;
	}
	.rakuten_btn:hover {
		background-color: #FFFF00;
	}
	.review_submit_btn {
		color: white;
		background-color: #FF3333;
	}
</style>
