<%= render 'homes/header' %>

<%= render 'search_by', genre_id: @genre_id, keyword: @keyword %>

<div class="search-results">
	<div class="flex-item-tables">
		<% if @items.present? %>
			<% @items.each do |item| %>
				<table class="table-borderless item-table">
					<tbody>
						<tr>
							<td>
								<% if item["mediumImageUrls"][0].present? %>
									<%= image_tag item["mediumImageUrls"][0] %>
								<% else %>
									この商品には商品画像がありません。
								<% end %>
							</td>
						</tr>
						<tr>
							<td><%= item['itemName'] %></td>
						</tr>
						<tr>
							<td class="item-price">価格: <%= number_with_delimiter(item['itemPrice']) %>円</td>
						</tr>
						<tr>
							<td><%= link_to 'この商品のレビューを書く', save_item_path(item["itemCode"]), class:"btn wide-review-btn" %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		<% end %>
	</div>
	<div align="center">
		<ul class="pagination">
			<% unless @page == 1 %>
		    <li class="page-item"><%= link_to "前へ", controller: "reviews", action: "search", keyword: @keyword, page: @page - 1, genreId: @genre_id %></li>
		  <% end %>
		    <li class="page-item"><a class="page-link" href="#"><%= @page %></a></li>
		  <% if @has_next_page %>
		  	<li class="page-item"><%= link_to "次へ", controller: "reviews", action: "search", keyword: @keyword, page: @page + 1, genreId: @genre_id %></li>
		  <% end %>
		</ul>
	</div>
</div>

<style>
	.search_for_review {
		display: block;
	}
</style>
