<!DOCTYPE html>
<html>
  <head>
    <title>FitReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ef1a52193c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- フッター -->
    <footer class="footer-background">
      <div class="container">
        <div class="row">
          <div align="left">
            <h5 class="about-headline">About</h5>
            <%= link_to 'FitReviewsとは', about_path, class:"btn btn-sm about-btn" %>
          </div>
          <div class="credit" align="center">
            <h6>Copyright ©︎ 2020 by FitReviews</h6>
            <p><a href="https://webservice.rakuten.co.jp/" target="_blank">Supported by Rakuten Developers</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- end -->
  </body>
</html>
