<!DOCTYPE html>
<html>
  <head>
    <title>FitReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ef1a52193c.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- フッター -->
    <footer class="footer-background">
      <div class="container">
        <div class="footer-flex">
          <div>
            <%= link_to 'FitReviews', root_path, class:"FitReviews-logo" %>
          </div>
          <div>
            <p class="about-title">About</p>
            <%= link_to 'FitReviewsとは', about_path, class:"btn footer-btn" %><br>
            <%= link_to 'プロフィール', top_path, class:"btn footer-btn" %>
          </div>
        </div>
        <div class="credit">
          <h5 class="copyright">Copyright ©︎ 2020 by FitReviews</h5>
          <h5>
            <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
            <a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="311" height="30"/></a>
            <!-- Rakuten Web Services Attribution Snippet TO HERE -->
          </h5>
        </div>
      </div>
    </footer>
    <!-- end -->
  </body>
</html>
